body {
      margin: 0;
      padding: 0;
      font-size: medium;
      background-color: whitesmoke;
    }
    .container {
      height: 100vh;
      width: 75%;
      display: flex;
    }
    .sidebar {
      flex: 2;
      border-right-width: 1px;
      border-right-color: black;
      border-right-style: solid;
      width: 35%;
    }
    .content {
      flex: 3;
      border-width: 3px;
    }
    .input-container{
        display: flex;
        column-gap: 10px;
    }
    .input-section{
        flex-direction: column;
        display: flex;
        flex: 1;
    }
    .items{
        display: flex;
    }
    h1{
        text-align: center;
    }
    input{
        padding: 6px;
    }
    select{
        padding: 6px;
    }
    .tree{
        display: flex;
        justify-content: space-between;
        margin: 6px;
    }


